body {
    grid-column: 1/2;
    grid-row: 2/3;
}
.s1{
    text-align: center;
    background-color: rgb(188, 241, 188);
}

table {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
}

th{
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

thead {
    background-color: #009879;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
