.section-3{
    grid-row: 4/5;
    grid-column: 1/2;
}

.titText{
    padding: 1rem;
    color: white;
    text-align: center;
    background-color: rgb(125, 155, 156);

    font-size: 1.9rem;
    font-weight: 600;
}

.section2 .tablaText{
    border-collapse: collapse;

}

.tablaText{
    width: 75%;
    margin: auto;

}

.section2 th{
    text-align: center;
    border: 2px solid rgb(21, 74, 76);
    padding: 0.9rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: white;

    background-color: rgb(107, 172, 174);
}

.section2 .etiqueta{
    text-align: center;
    border: 2px solid black;
    font-style: italic;
    font-weight: bold ;
    color: white;
    font-size: 1rem;
    background-color: #4b7e9b;
}

.section2 tr{
    padding: 1rem;
    background-color: rgb(215, 216, 216);
}

.section2 td{
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #333e44;
}


.section2  tr:hover{
    background-color: rgb(157, 186, 188);
    transition: 0.2s;
    cursor: pointer;
}

.section2 .etiqueta:hover{
    background-color: rgb(62, 88, 98);
}
