.section3 h1 {
    background-color: #c0c7ce;
    color: white;
    padding: 1rem 0;
    text-align: center;
    border-radius: 5px;
}

table {
    width: 100%;
    margin: 1rem 0;
    background-color: rgb(196, 196, 193);
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    border-radius: 4px;
}

th {
    background-color: #f2f2f2;
    border-radius: 4px;
}

tr:hover {
    background-color: #f1f1f1;
}