.header {
    background-color: #f0f0f0;
    color: #333333;
    padding: 20px;
    text-align: center;
}

.tituloh {
    margin: 0;
    font-size: 36px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #cccccc;
    color: #333333;
}
